/* src/components/HeartParticles.scss */

.spinner  {
  .heart-particles-canvas {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: auto;
    height: 200px;
  }
}
