@import "params.scss";

.header_infinite_animation {
  overflow: hidden;
  margin: 0 -23px;
  text-align: center;
  background: $color-primary-dark;
  h2,
  h3 {
    display: inline-block;
    font-family: $font-family-playfair;
    font-style: italic;
    text-transform: uppercase;
    font-size: 24px;
    padding: $spacing-xxs;
    color: $color-secondary;
    font-weight: bold;
  }

  h3 {
    //padding: 0.25rem 0.35rem;
    //margin: 0 0.5rem 2.8rem;
    animation: text-animation 7s infinite;
    background: $color-primary;
    color: white;
  }
}

body.dark {
  h3 {
    background: $color-primary-dark;
  }
}