@import "params";

* {
  box-sizing: border-box;
  font-weight: 400;
  font-family: $font-family;
  font-size: $size-base-font;
  margin: 0;
  padding: 0;
}

h2, h3, h4, h5, h6 {
  font-family: $font-family-playfair;
  font-style: italic;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  section {
    padding: $spacing-lg 0 0;
  }

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.8) inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

.app {
  display: flex;
  .content {
    width: 100%;
    .general-container {
      @include base-width;
    }
  }

  .MuiSvgIcon-root {
    fill: $color-quaternary;
  }
}
// Style for mui elements

.MuiFormControl-root {
  margin: 7px 0 !important;
}
.err-msg {
  color: $color-red;
  font-size: 0.75rem;
}
.data-picker {
  margin: $spacing-xxs 0 !important;
  width: 100%;
  div {
    padding-right: 18px;
  }
}
span.MuiFormLabel-asterisk {
  color: $color-red !important;
}
ul.MuiList-root {
  text-transform: uppercase;
 li {
   font-size: 13px;
   &:hover {
     background: $color-primary-dark;
     color: $color-tertiary;
   }
   &.Mui-selected {
     background: $color-primary-dark;
     color: $color-tertiary;
   }
 }
}
// end

.shinning-text {
  background: linear-gradient(90deg, #000, #fff, #000) no-repeat;
  background-size: 80%;
  display: inline-block;
  letter-spacing: 3px;
  text-transform: uppercase;
  animation: text-animation-shinning 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.img-zoom-in {
  object-fit: cover;
  animation: zoomIn 4s ease-in-out;
}

// Animations

@keyframes text-animation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes text-animation-shinning {
  0% {
    background-position: -500%;
  }
  50% {
     background-position: 500%;
  }
  100% {
    background-position: -500%;
  }
}

@keyframes zoomIn {
  0% {
    background-size: 140%;
  }
  100% {
    background-size: 100%;
  }
}



