@import "mixins";

// Zmienne
$color-white: #ffffff;
$color-primary: #8739F9;
$color-secondary: #37B9F1;
$color-tertiary: #ced1bf;
$color-quaternary: #1F1F1F;

$color-primary-dark: #BB86FC;
$color-secondary-dark: #4FC3F7;
$color-tertiary-dark: #B0BEC5;
$color-quaternary-dark: #434343;

$color-text: #565360;
$color-text-label: #908E9B;
$color-text-disabled: #E1DFE9;

$color-red: #d32f2f;

$size-base-font: 16px;
$font-size-xs: 0.5rem;
$font-size-sm: 0.75rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;



$mobile: 767px;
$tablet: 989px;
$desktop: 1489px;
$full-hd: 1920px;

$font-family-playfair: "Playfair Display", Helvetica Neue, Arial, sans-serif;
$font-family-lato: "Lato", Helvetica Neue, Arial, sans-serif;
$font-family: $font-family-lato, sans-serif, Arial;

$spacing-xxs: 12px;
$spacing-xs: 23px;
$spacing-sm: 34px;
$spacing-md: 46px;
$spacing-lg: 69px;
$spacing-xl: 92px;
$spacing-xxl: 150px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;  // Pozwala na przekazanie stylów w @include
  }
}

@mixin tablet {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin full-hd {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin base-width {
  max-width: $desktop;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease-in-out;

  @include full-hd {
    margin-left: $spacing-lg;
    margin-right: $spacing-lg;
    margin-bottom: 60px;
  }

  @include desktop {
    margin-left: $spacing-md;
    margin-right: $spacing-md;
  }

  @include tablet {
    margin-left: $spacing-sm;
    margin-right: $spacing-sm;
  }

  @include mobile {
    margin: $spacing-xxs $spacing-xs;
  }
}

.bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-black-apla {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}
.text-underline {
  transition: all .25s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.img-zoom-in {
  object-fit: cover;
  animation: zoomIn 2s cubic-bezier(0.75, 0.1, 0.75, 0.1) forwards;
}
