@import "mixins";

// Zmienne
$color-primary: #e0b0d6;
$color-secondary: #ffffff;
$color-tertiary: #e5eaee;
$color-quaternary: #1d1917;

$color-primary-dark: #bb419d;
$color-secondary-dark: #f0f0f0;
$color-tertiary-dark: #3a3d40;
$color-quaternary-dark: #d8cfc4;


$size-base-font: 16px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 20px;
$font-size-xl: 24px;



$mobile: 767px;
$tablet: 989px;
$desktop: 1489px;
$full-hd: 1920px;

$font-family-playfair: "Playfair Display", Helvetica Neue, Arial, sans-serif;
$font-family-lato: "Lato", Helvetica Neue, Arial, sans-serif;
$font-family: $font-family-lato, sans-serif, Arial;

$spacing-xs: 23px;
$spacing-sm: 34px;
$spacing-md: 46px;
$spacing-lg: 69px;
$spacing-xl: 92px;
$spacing-xxl: 150px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;  // Pozwala na przekazanie stylów w @include
  }
}

@mixin tablet {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin full-hd {
  @media (max-width: $desktop) {
    @content;
  }
}


@mixin base-width {
  max-width: $desktop;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease-in-out;

  @include full-hd {
    margin-left: $spacing-lg;
    margin-right: $spacing-lg;
    margin-bottom: 60px;
  }

  @include desktop {
    margin-left: $spacing-md;
    margin-right: $spacing-md;
  }

  @include tablet {
    margin-left: $spacing-sm;
    margin-right: $spacing-sm;
  }

  @include mobile {
    margin-left: $spacing-xs;
    margin-right: $spacing-xs;
    margin-bottom: $spacing-md;
  }
}

